#############
## Python
#############

*.py[cod]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.log
icons/
*.xlsx
*.csv
test.py
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/pspsdaq.iml
.idea/vcs.xml
.idea/workspace.xml